In [6]:
import numpy
import pandas as pd

In [17]:
df = pd.read_csv('data/data.CSV',encoding='euc-kr')

In [18]:
print(df)

      월   요일    사고건수  사망자수    중상자수    경상자수  부상신고자수  Unnamed: 7
0   01월    일  2232.0  67.0  1080.0  2625.0   159.0         NaN
1   01월    월  2535.0  55.0  1207.0  2627.0   142.0         NaN
2   01월    화  2617.0  67.0  1253.0  2664.0   135.0         NaN
3   01월    수  2231.0  62.0  1019.0  2274.0   114.0         NaN
4   01월    목  2453.0  66.0  1078.0  2338.0   135.0         NaN
..  ...  ...     ...   ...     ...     ...     ...         ...
80  12월    수  2367.0  57.0   981.0  2428.0   163.0         NaN
81  12월    목  2302.0  51.0  1020.0  2361.0   167.0         NaN
82  12월    금  2735.0  69.0  1306.0  2912.0   179.0         NaN
83  12월    토  2942.0  65.0  1292.0  3367.0   211.0         NaN
84  NaN  NaN     NaN   NaN     NaN     NaN     NaN         NaN

[85 rows x 8 columns]